{% extends 'base.html.twig' %}
{% block title 'Agence Lorem Ipsume' %}
 {% block body %}
     <div style="background-color: white">
         <div class="container">
             <div class="jumbotron text-center" >
                 <h1>la liste de tous les jobs</h1>

             </div>
         </div>
     </div>

    <div class="ml  ">
        <a href="{{ path('createJobCron') }}" class="btn btn-success">Créer un job cron</a>
        <a href="{{ path('createJobComposite') }}" class="btn btn-light" >Créer un job composite</a>
    </div>


<div class="container ">
     <table class="table">
         <thead>
         <tr>
             <th>Name</th>
             <th>Expression</th>
             <th>Command</th>
             <th>Actions</th>
             <th>Type du job</th>
         </tr>
         </thead>

         <tbody>
         {% for j in job %}
             <tr>
                 <td>{{ j.name }}</td>
                 <td>{{ j.Expression }}</td>

                 <td>{{ j.Command }}</td>

                 <td>
                     <a href="{{ path('Home') }}" class="btn btn-success">Executer immediatement</a>
                     <a href="{{  path('details', {'id': j.id}) }}" class="btn btn-light" >Details</a>
                     <a href="{{ j.listSousJobs == [] ?  path('modifier', {'id':j.id}) : path('modifier', {'id':j.id}) }}" class="btn btn-warning">Modifier</a>
                     <a href="{{ path('delete', {'id': j.id}) }}" class="btn btn-danger">Supprimer</a>

                 </td>
                 <td>{{ j.listSousJobs == [] ? 'job cron' : 'job composite' }}</td>
             </tr>
         {% else %}
             <tr>
                 <td colspan="3">no records found</td>
             </tr>
         {% endfor %}



     </table>
</div>



 {% endblock %}
